@CHARSET "UTF-8";

/* page style */
body {
	background-color: #557755;
	margin-left: 2%;
	margin-right: 2%;
}
h1, h2, h3, p, ul, ol, table {
	padding-top: 0em;
	padding-bottom: 0.5em;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	width: 720px;
	background-color: #FFFFFF;
	border-left: 2px solid #C4C4C4;
	border-right: 3px solid #A4A4A4;
}
ul, ol {
	width: 690px;
	padding-left: 50px;
}
/* text style */
h1, h2, h3 {
	font-family: sans-serif;
	font-weight: normal;
	padding-top: 1em;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #556060;
}
h2 {
	color: #555555;
}
h3 {
	color: #555555;
}
p, ul, ol {
	font-family: serif;
	font-size: 1.0em;
	color: #333333;
}
a {
	color: #003399;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0px;	
}
/* inside p: align right, outside p: right of page */
.right {
	float: right;
}
